{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "extensions": [
          ".js"
        ],
        "alias": {
          "@helpers": "./helpers",
          "@units": "./units",
          "@dict": "./dict"
        }
      }
    ]
  ]
}